@model BookStore.Contract.ResponseModels.TagResponseModel

@{
    ViewData["Title"] = "Tag Detail";
    var index = 0;
}

<div class="text-center">
    <h1 class="display-4">Tag Detail</h1>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Tag Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TagName)
        </dd>
        <dt class="col-sm-2">
            Book(s)
        </dt>
        <dd class="col-sm-10">
            @if (!Model.Books.Any())
            {
                <p>There is no book that belongs to this tag.</p>
            }
            @foreach (var item in Model.Books)
            {
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.BookId">@Html.DisplayFor(modelItem => item.BookName)</a>
                index++;
                if (index < Model.Books.Count())
                {
                    <br />
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.TagId">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>