@model List<BookStore.Contract.ResponseModels.TagResponseModel>

@{
    ViewData["Title"] = "Tag";
}

<div class="text-center">
    <h1 class="display-4">Tag</h1>
</div>

<p>
    <a asp-action="Create">Create New Tag</a>
</p>
<form asp-controller="Tag" asp-action="Index" method="get">
    <p>
        Tag Name <input type="text" name="searchString" value="@ViewData["Search"]" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Tag Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.TagId">@Html.DisplayFor(modelItem => item.TagName)</a>
                </td>
            </tr>
        }
    </tbody>
</table>